In [ ]:
import pandas as pd

trips_2018_Q1 = pd.read_csv('Trips_2018_Q1.csv')
trips_2018_Q2 = pd.read_csv('Trips_2018_Q2.csv')
trips_2018_Q3 = pd.read_csv('Trips_2018_Q3.csv')
trips_2018_Q4 = pd.read_csv('Trips_2018_Q4.csv')

In the case of this year compared to the previous ones, the format changed for Q1, so following I will edit the column names, date formats and data type of trip duration

In [ ]:
trips_2018_Q1.head(5)

In [ ]:
wrong_names = list(trips_2018_Q1.columns)
print(wrong_names)

In [ ]:
#I get the names I want to assign to the Q1 table.
correct_names = list(trips_2018_Q2.columns)

In [ ]:
#Here I replace the column names with the names I want using a dictionary for it
name_replace = dict(zip(wrong_names, correct_names))

In [ ]:
trips_2018_Q1.rename(columns=name_replace, inplace=True)

In [ ]:
trips_2018_Q1.head(5)

Now I will check if the format of all the tables matches

In [ ]:
trips_2018_Q2.head(5)

It does, but some data does not match with previous years, so I will change the format after concatenating the data here.

In [ ]:
trips_2018 = pd.concat([trips_2018_Q1, trips_2018_Q2, trips_2018_Q3, trips_2018_Q4])

In [ ]:
trips_2018.head(5)

In [ ]:
trips_2018['birthyear'] = trips_2018['birthyear'].fillna(-1).astype(int)

In [ ]:
trips_2018.sample(20)

In [ ]:
trips_2018['tripduration'] = trips_2018['tripduration'].str.replace(',','').astype(float).astype(int)

In [ ]:
trips_2018.sample(5)

Now I have to change date times to match previous tables

In [ ]:
trips_2018[['start_time', 'end_time']] = trips_2018[['start_time', 'end_time']].apply(lambda x: x.str.replace('-', '/'))

In [ ]:
trips_2018.sample(5)

In [ ]:
#I will change the date format to match what we had in previous years
trips_2018['start_time'] = pd.to_datetime(trips_2018['start_time']).dt.strftime('%m/%d/%Y %H:%M:%S')
trips_2018['end_time'] = pd.to_datetime(trips_2018['end_time']).dt.strftime('%m/%d/%Y %H:%M:%S')

In [ ]:
trips_2018.sample(10)

Now I will save the new table as csv, this will be openned and processed using SQL 
in MySQL.

In [ ]:
trips_2018.to_csv('trips_2018.csv', index=False)

The code used for this year will be used for all the years unless I find problems with the data.